<h1>Film Review Log In</h1>
<h2>Please enter your Username and Password to Log In:</h2>

<form method="POST" action='/login'>
    <h2>Username: </h2>
    <input type="text" name="user[username]" required>
    <h2>Password: </h2>
    <input type="password" name="user[password]" required><br><br>
    <input type="submit" name="Submit">
</form>
