<h2> Edit Film </h2>
<form method="post" action="/films/<%=@film.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="title" value="<%= @film.title %>" placeholder="<%= @film.title %>">
    <input type="submit" value="submit">
</form>
