Welcome <%= current_user.name %>!
<h2> Film List </h2>
<% @film.each do |c| %>

 <div>
<li><a href="/films/<%= c.id %>"><%= c.title %></a></li>




 </div>
<% end %>

<a href="/show" > See your films! </a>
<a href="/films/new" > Add a film </a>
