<p><%= @film.title %>
<form method="post" action="/reviews">

  <input type="submit" value="Add Review">
  <input type="submit" value="Edit Review">
  <input type="submit" value="Delete Review">
</form>
