<br><p>Film: <%= @film.title %><br><br>
<%if @film.user.name == current_user.name%>
<a href="/films/<%= @film.id %>/edit">edit</a>
<form method="post" action="/films/<%=@film.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<%else%>
<%end%>
